@{
    ViewBag.Title = "Home Page";
}

@model dynamic
@{
    var laplist = Model.laplist;
    var pclist = Model.pclist;
    var comlist = Model.comlist;
    var acclist = Model.acclist;
}

<div class="container body-content">
    <div id="slide" class="carousel slide m-auto" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#slide" data-slide-to="0" class="active bg-dark"></li>
            <li data-target="#slide" data-slide-to="1" class="bg-dark"></li>
            <li data-target="#slide" data-slide-to="2" class="bg-dark"></li>
            <li data-target="#slide" data-slide-to="3" class="bg-dark"></li>
            <li data-target="#slide" data-slide-to="4" class="bg-dark"></li>

        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner text-center">
            <div class="carousel-item active">
                <img class="rounded" style="width: 90%; height: 450px" src="~/Images/Carousel (2).jpg" alt="">
            </div>
            <div class="carousel-item">
                <img class="rounded" style="width: 90%; height: 450px" src="~/Images/Carousel (3).jpg" alt="">
            </div>
            <div class="carousel-item">
                <img class="rounded" style="width: 90%; height: 450px" src="~/Images/Carousel (1).jpg" alt="">
            </div>
            <div class="carousel-item">
                <img class="rounded" style="width: 90%; height: 450px" src="~/Images/Carousel (6).jfif" alt="">
            </div>
            <div class="carousel-item">
                <img class="rounded" style="width: 90%; height: 450px" src="~/Images/Carousel (7).jfif" alt="">
            </div>
        </div>
        <a class="carousel-control-prev bg-transparent" href="#slide" data-slide="prev" style="background-color: rgba(0, 0, 0, 0.20); height: 50%; top: 25%">
            <span class="fa fa-caret-left" style="font-size: 50px; color: rgb(0, 0, 0)"></span>
        </a>
        <a class="carousel-control-next bg-transparent" href="#slide" data-slide="next" style="background-color: rgba(0, 0, 0, 0.20); height: 50%; top: 25%">
            <span class="fa fa-caret-right" style="font-size: 50px; color: rgb(0, 0, 0)"></span>
        </a>
    </div>

    <span class="p-2"></span>

    <div class="jumbotron text-center w-100" style="background: url(../../Images/jumbotron_laptop.jfif) fixed center no-repeat; background-size: cover; height: 200px">
        <label class="display-4 font-weight-bold text-warning" style="font-family: 'Sitka Subheading';">
            LAPTOP
        </label>
    </div>

    <div class="d-flex flex-wrap justify-content-center">
        <!-- 4 sản phẩm trên 1 dòng -->
        <div class="card-deck pb-5">
            @{ var i = 0; }
            @foreach (var device in laplist)
            {
                if (i < 4)
                {
                    <form class="card text-decoration-none text-dark h-80" method="post" style="height: 300px; width: 260px">
                        <div class="card-body h-60 p-1">
                            <img class="card-img-top" src="~/Images/Products/@device.image" alt="@device.name" style="width: 100%; height: 100%">
                            <div class="card-img-overlay d-flex align-items-end p-0" style="height: 210px">
                                <div class="text-center w-100 p-2" style="background-color: rgba(0, 0, 0, 0.20)">
                                    @if (device.amount != 0)
                                    {
                                        <button type="button" value="@device.id" class="btn btn-danger px-3 addtocart" data-toggle="tooltip" data-placement="top">
                                            <i class="fa fa-shopping-cart"></i> Thêm vào giỏ
                                        </button>

                                        <button formaction="@Url.Action("ChiTietSanPham", "Devices", new { id = @device.id })" type="submit" class="btn btn-warning px-3" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button formaction="@Url.Action("ChiTietSanPham", "Devices", new { id = @device.id })" type="submit" class="btn btn-warning px-3" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                            <i class="fa fa-eye"></i> Xem chi tiết
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer h-20">
                            <p class="card-title font-weight-bolder text-truncate mb-1" style="font-size: 18px">@device.name</p>
                            @if (device.amount != 0)
                            {
                                <p class="card-text text-black-50">@Convert.ToString(string.Format("{0:#,##0VNĐ}", @device.price))</p>
                            }
                            else
                            {
                                <p class="card-text text-danger">HẾT HÀNG</p>
                            }
                        </div>
                    </form>
                }
                i++;
            }
        </div>
        <!-- 4 sản phẩm trên 1 dòng -->
        <div class="card-deck pb-5">
            @{ i = 0; }
            @foreach (var device in laplist)
            {
                if (i >= 4)
                {
                    <form class="card text-decoration-none text-dark h-80" method="post" style="height: 300px; width: 260px">
                        <div class="card-body h-60 p-1">
                            <img class="card-img-top" src="~/Images/Products/@device.image" alt="@device.name" style="width: 100%; height: 100%">
                            <div class="card-img-overlay d-flex align-items-end p-0" style="height: 210px">
                                <div class="text-center w-100 p-2" style="background-color: rgba(0, 0, 0, 0.20)">
                                    @if (device.amount != 0)
                                    {
                                        <button type="button" value="@device.id" class="btn btn-danger px-3 addtocart" data-toggle="tooltip" data-placement="top">
                                            <i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>

                                        <button formaction="@Url.Action("ChiTietSanPham", "Devices", new { id = @device.id })" type="submit" class="btn btn-warning px-3" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button formaction="@Url.Action("ChiTietSanPham", "Devices", new { id = @device.id })" type="submit" class="btn btn-warning px-3" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                            <i class="fa fa-eye"></i> Xem chi tiết
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer h-20">
                            <p class="card-title font-weight-bolder text-truncate mb-1" style="font-size: 18px">@device.name</p>
                            @if (device.amount != 0)
                            {
                                <p class="card-text text-black-50">@Convert.ToString(string.Format("{0:#,##0VNĐ}", @device.price))</p>
                            }
                            else
                            {
                                <p class="card-text text-danger">HẾT HÀNG</p>
                            }
                        </div>
                    </form>
                }
                i++;
            }
        </div>
    </div>

    <div class="jumbotron text-center w-100" style="background: url(../../Images/jumbotron_desktop.jpg) fixed center no-repeat; background-size: cover; height: 200px">
        <label class="display-4 font-weight-bold text-warning" style="font-family: 'Sitka Subheading';">
            MÁY BỘ
        </label>
    </div>

    <div class="d-flex flex-wrap justify-content-center">
        <!-- 4 sản phẩm trên 1 dòng -->
        <div class="card-deck pb-5">
            @{ i = 0; }
            @foreach (var device in pclist)
            {
                if (i < 4)
                {
                    <form class="card text-decoration-none text-dark h-80" method="post" style="height: 300px; width: 260px">
                        <div class="card-body h-60 p-1">
                            <img class="card-img-top" src="~/Images/Products/@device.image" alt="@device.name" style="width: 100%; height: 100%">
                            <div class="card-img-overlay d-flex align-items-end p-0" style="height: 210px">
                                <div class="text-center w-100 p-2" style="background-color: rgba(0, 0, 0, 0.20)">
                                    @if (device.amount != 0)
                                    {
                                        <button type="button" value="@device.id" class="btn btn-danger px-3 addtocart" data-toggle="tooltip" data-placement="top">
                                            <i class="fa fa-shopping-cart"></i> Thêm vào giỏ
                                        </button>

                                        <button formaction="@Url.Action("ChiTietSanPham", "Devices", new { id = @device.id })" type="submit" class="btn btn-warning px-3" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button formaction="@Url.Action("ChiTietSanPham", "Devices", new { id = @device.id })" type="submit" class="btn btn-warning px-3" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                            <i class="fa fa-eye"></i> Xem chi tiết
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer h-20">
                            <p class="card-title font-weight-bolder text-truncate mb-1" style="font-size: 18px">@device.name</p>
                            @if (device.amount != 0)
                            {
                                <p class="card-text text-black-50">@Convert.ToString(string.Format("{0:#,##0VNĐ}", @device.price))</p>
                            }
                            else
                            {
                                <p class="card-text text-danger">HẾT HÀNG</p>
                            }
                        </div>
                    </form>
                }
                i++;
            }
        </div>
        <!-- 4 sản phẩm trên 1 dòng -->
        <div class="card-deck pb-5">
            @{ i = 0; }
            @foreach (var device in pclist)
            {
                if (i >= 4)
                {
                    <form class="card text-decoration-none text-dark h-80" method="post" style="height: 300px; width: 260px">
                        <div class="card-body h-60 p-1">
                            <img class="card-img-top" src="~/Images/Products/@device.image" alt="@device.name" style="width: 100%; height: 100%">
                            <div class="card-img-overlay d-flex align-items-end p-0" style="height: 210px">
                                <div class="text-center w-100 p-2" style="background-color: rgba(0, 0, 0, 0.20)">
                                    @if (device.amount != 0)
                                    {
                                        <button type="button" value="@device.id" class="btn btn-danger px-3 addtocart" data-toggle="tooltip" data-placement="top">
                                            <i class="fa fa-shopping-cart"></i> Thêm vào giỏ
                                        </button>

                                        <button formaction="@Url.Action("ChiTietSanPham", "Devices", new { id = @device.id })" type="submit" class="btn btn-warning px-3" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button formaction="@Url.Action("ChiTietSanPham", "Devices", new { id = @device.id })" type="submit" class="btn btn-warning px-3" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                            <i class="fa fa-eye"></i> Xem chi tiết
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer h-20">
                            <p class="card-title font-weight-bolder text-truncate mb-1" style="font-size: 18px">@device.name</p>
                            @if (device.amount != 0)
                            {
                                <p class="card-text text-black-50">@Convert.ToString(string.Format("{0:#,##0VNĐ}", @device.price))</p>
                            }
                            else
                            {
                                <p class="card-text text-danger">HẾT HÀNG</p>
                            }
                        </div>
                    </form>
                }
                i++;
            }
        </div>
    </div>

    <div class="jumbotron text-center w-100" style="background: url(../../Images/jumbotron_accessories.jpg) fixed center no-repeat; background-size: cover; height: 200px">
        <label class="display-4 font-weight-bold  text-warning" style="font-family: 'Sitka Subheading';">
            LINH KIỆN
        </label>
    </div>

    <div class="d-flex flex-wrap justify-content-center">
        <!-- 4 sản phẩm trên 1 dòng -->
        <div class="card-deck pb-5">
            @{ i = 0; }
            @foreach (var device in comlist)
            {
                if (i < 4)
                {
                    <form class="card text-decoration-none text-dark h-80" method="post" style="height: 300px; width: 260px">
                        <div class="card-body h-60 p-1">
                            <img class="card-img-top" src="~/Images/Products/@device.image" alt="@device.name" style="width: 100%; height: 100%">
                            <div class="card-img-overlay d-flex align-items-end p-0" style="height: 210px">
                                <div class="text-center w-100 p-2" style="background-color: rgba(0, 0, 0, 0.20)">
                                    @if (device.amount != 0)
                                    {
                                        <button type="button" value="@device.id" class="btn btn-danger px-3 addtocart" data-toggle="tooltip" data-placement="top">
                                            <i class="fa fa-shopping-cart"></i> Thêm vào giỏ
                                        </button>

                                        <button formaction="@Url.Action("ChiTietSanPham", "Devices", new { id = @device.id })" type="submit" class="btn btn-warning px-3" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button formaction="@Url.Action("ChiTietSanPham", "Devices", new { id = @device.id })" type="submit" class="btn btn-warning px-3" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                            <i class="fa fa-eye"></i> Xem chi tiết
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer h-20">
                            <p class="card-title font-weight-bolder text-truncate mb-1" style="font-size: 18px">@device.name</p>
                            @if (device.amount != 0)
                            {
                                <p class="card-text text-black-50">@Convert.ToString(string.Format("{0:#,##0VNĐ}", @device.price))</p>
                            }
                            else
                            {
                                <p class="card-text text-danger">HẾT HÀNG</p>
                            }
                        </div>
                    </form>
                }
                i++;
            }
        </div>
        <!-- 4 sản phẩm trên 1 dòng -->
        <div class="card-deck pb-5">
            @{ i = 0; }
            @foreach (var device in comlist)
            {
                if (i >= 4)
                {
                    <form class="card text-decoration-none text-dark h-80" method="post" style="height: 300px; width: 260px">
                        <div class="card-body h-60 p-1">
                            <img class="card-img-top" src="~/Images/Products/@device.image" alt="@device.name" style="width: 100%; height: 100%">
                            <div class="card-img-overlay d-flex align-items-end p-0" style="height: 210px">
                                <div class="text-center w-100 p-2" style="background-color: rgba(0, 0, 0, 0.20)">
                                    @if (device.amount != 0)
                                    {
                                        <button type="button" value="@device.id" class="btn btn-danger px-3 addtocart" data-toggle="tooltip" data-placement="top">
                                            <i class="fa fa-shopping-cart"></i> Thêm vào giỏ
                                        </button>

                                        <button formaction="@Url.Action("ChiTietSanPham", "Devices", new { id = @device.id })" type="submit" class="btn btn-warning px-3" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button formaction="@Url.Action("ChiTietSanPham", "Devices", new { id = @device.id })" type="submit" class="btn btn-warning px-3" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                            <i class="fa fa-eye"></i> Xem chi tiết
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer h-20">
                            <p class="card-title font-weight-bolder text-truncate mb-1" style="font-size: 18px">@device.name</p>
                            @if (device.amount != 0)
                            {
                                <p class="card-text text-black-50">@Convert.ToString(string.Format("{0:#,##0VNĐ}", @device.price))</p>
                            }
                            else
                            {
                                <p class="card-text text-danger">HẾT HÀNG</p>
                            }
                        </div>
                    </form>
                }
                i++;
            }
        </div>
    </div>

    <div class="jumbotron text-center w-100" style="background: url(../../Images/jumbotron_components.jpg) fixed center no-repeat; background-size: cover; height: 200px">
        <label class="display-4 font-weight-bold text-warning" style="font-family: 'Sitka Subheading';">
            PHỤ KIỆN
        </label>
    </div>

    <div class="d-flex flex-wrap justify-content-center">
        <!-- 4 sản phẩm trên 1 dòng -->
        <div class="card-deck pb-5">
            @{ i = 0; }
            @foreach (var device in acclist)
            {
                if (i < 4)
                {
                    <form class="card text-decoration-none text-dark h-80" method="post" style="height: 300px; width: 260px">
                        <div class="card-body h-60 p-1">
                            <img class="card-img-top" src="~/Images/Products/@device.image" alt="@device.name" style="width: 100%; height: 100%">
                            <div class="card-img-overlay d-flex align-items-end p-0" style="height: 210px">
                                <div class="text-center w-100 p-2" style="background-color: rgba(0, 0, 0, 0.20)">
                                    @if (device.amount != 0)
                                    {
                                        <button type="button" value="@device.id" class="btn btn-danger px-3 addtocart" data-toggle="tooltip" data-placement="top">
                                            <i class="fa fa-shopping-cart"></i> Thêm vào giỏ
                                        </button>

                                        <button formaction="@Url.Action("ChiTietSanPham", "Devices", new { id = @device.id })" type="submit" class="btn btn-warning px-3" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button formaction="@Url.Action("ChiTietSanPham", "Devices", new { id = @device.id })" type="submit" class="btn btn-warning px-3" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                            <i class="fa fa-eye"></i> Xem chi tiết
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer h-20">
                            <p class="card-title font-weight-bolder text-truncate mb-1" style="font-size: 18px">@device.name</p>
                            @if (device.amount != 0)
                            {
                                <p class="card-text text-black-50">@Convert.ToString(string.Format("{0:#,##0VNĐ}", @device.price))</p>
                            }
                            else
                            {
                                <p class="card-text text-danger">HẾT HÀNG</p>
                            }
                        </div>
                    </form>
                }
                i++;
            }
        </div>
        <!-- 4 sản phẩm trên 1 dòng -->
        <div class="card-deck pb-5">
            @{ i = 0; }
            @foreach (var device in acclist)
            {
                if (i >= 4)
                {
                    <form class="card text-decoration-none text-dark h-80" method="post" style="height: 300px; width: 260px">
                        <div class="card-body h-60 p-1">
                            <img class="card-img-top" src="~/Images/Products/@device.image" alt="@device.name" style="width: 100%; height: 100%">
                            <div class="card-img-overlay d-flex align-items-end p-0" style="height: 210px">
                                <div class="text-center w-100 p-2" style="background-color: rgba(0, 0, 0, 0.20)">
                                    @if (device.amount != 0)
                                    {
                                        <button type="button" value="@device.id" class="btn btn-danger px-3 addtocart" data-toggle="tooltip" data-placement="top">
                                            <i class="fa fa-shopping-cart"></i> Thêm vào giỏ
                                        </button>

                                        <button formaction="@Url.Action("ChiTietSanPham", "Devices", new { id = @device.id })" type="submit" class="btn btn-warning px-3" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button formaction="@Url.Action("ChiTietSanPham", "Devices", new { id = @device.id })" type="submit" class="btn btn-warning px-3" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                            <i class="fa fa-eye"></i> Xem chi tiết
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer h-20">
                            <p class="card-title font-weight-bolder text-truncate mb-1" style="font-size: 18px">@device.name</p>
                            @if (device.amount != 0)
                            {
                                <p class="card-text text-black-50">@Convert.ToString(string.Format("{0:#,##0VNĐ}", @device.price))</p>
                            }
                            else
                            {
                                <p class="card-text text-danger">HẾT HÀNG</p>
                            }
                        </div>
                    </form>
                }
                i++;
            }
        </div>
    </div>
</div>