@model BanHangEntityClient.Models.Customer

@{
    ViewBag.Title = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid body-content">
    <div class="d-flex min-vh-100">
        <div class="w-25 my-2 mx-4 bg-light">
            <h4 class="py-2 px-1">
                Tài khoản của
                @if (Session["name"] != null)
                {
                    <span>@Session["name"].ToString()</span>
                }
            </h4>
            <ul class="nav flex-column" style="font-size: 18px">
                <li class="nav-item m-2">
                    @Html.ActionLink("Thông tin tài khoản", "Index", "Customers", null, new { @class = "nav-link p-2 bg-primary text-light disabled" })
                </li>
                <li class="nav-item m-2">
                    @Html.ActionLink("Đơn hàng", "Donhang", "Customers", null, new { @class = "nav-link p-2" })
                </li>
                <li class="nav-item m-2">
                    @Html.ActionLink("Đăng xuất", "Dangxuat", "Customers", null, new { @class = "nav-link p-2" })
                </li>
            </ul>
        </div>
        <div class="w-75 my-2 mx-4 bg-light">
            <h4 class="py-2 px-1">Thông tin tài khoản</h4>
            <div class="d-flex flex-wrap">
                <div class="p-2 w-50">
                    <div class="form-group">
                        <label for="usr">Email:</label>
                        <input type="text" class="form-control" value="@Html.DisplayFor(m => m.username)" readonly />
                    </div>
                </div>
                <div class="p-2 w-50">
                    <div class="form-group">
                        <label for="name">Họ và tên:</label>
                        <input type="text" class="form-control" value="@Html.DisplayFor(m => m.name)" readonly />
                    </div>
                </div>
                <div class="p-2 w-50">
                    <div class="form-group">
                        <label for="phone">Số điện thoại:</label>
                        <input type="number" class="form-control" value="@Html.DisplayFor(m => m.sdt)" readonly />
                    </div>
                </div>
                <div class="p-2 w-50">
                    <div class="form-group">
                        <label for="address">Địa chỉ:</label>
                        <input type="text" class="form-control mw-100" value="@Html.DisplayFor(m => m.address)" readonly />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>